{% block DeliverablesPopup %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/DeliverablesPopup.css')}}">
    {% endblock %}

    {% block javascripts %}
        <script>
        
        </script>
    {% endblock %}

    <div class="Overlay">
        .popup
    </div>
    
{% endblock %}