<link rel="stylesheet" href="css/Notification_element.css">
<div class="Notification_element_main_content_wrapper">

	<div class="Notification_element_main_content_content">
		<div class="Notification_element_main_content_content_heading_div">
			<p class="Notification_element_main_content_content_heading_text"> {{heading.foo}} </p>
			<p class="Notification_element_main_content_content_heading_text">{{heading.time}}</p>
		</div>

		<div class="Notification_element_main_content_content_heading_div_content">

        <div class="Notification_element_main_content_content_heading_div_content_main">
        
        
			<div class="Notification_element_main_content_content_heading_div_content_icon">
				{{heading.symbol}}
			</div>

			<div class="Notification_element_main_content_content_heading_div_content_text">
				<strong>{{heading.name}}</strong>
				tagged you on a
				<strong>Comment</strong>
				on
				<strong>#2489430</strong>
			</div>

            </div>
            <button  class="Notification_element_main_content_content_heading_div_content_button">
            View
            
            </button>
		</div>
	</div>


</div>
