<link rel="stylesheet" href="css/NotificationPopup.css">
<div class="NotifiPopup_Container">
        <div class="Notifi_Title">
            <h1>Notifications</h1>
        </div>
        <div class="Notifi_Content">
            <div class="Tagged_Notifi">
                <div class="Notifi_Mark"></div>
                <div class="Tagged_Txt">
                    <p><strong>Sandra Ken</strong> tagged you on a <strong>comment</strong></p>
                </div>
            </div>
            <div class="Tagged_Notifi">
                <div class="Notifi_Mark"></div>
                <div class="Tagged_Txt">
                    <p><strong>Sandra Ken</strong> tagged you on a <strong>comment</strong></p>
                </div>
            </div>
            <div class="Tagged_Notifi">
                <div class="Notifi_Mark"></div>
                <div class="Tagged_Txt">
                    <p><strong>Sandra Ken</strong> tagged you on a <strong>comment</strong></p>
                </div>
            </div>
            <div class="Tagged_Notifi">
                <div class="Notifi_Mark"></div>
                <div class="Tagged_Txt">
                    <p><strong>Sandra Ken</strong> tagged you on a <strong>comment</strong></p>
                </div>
            </div>
        </div>
        <div class="Notifi_Buttons">
            <div class="View_Btn">
            <a href="/Notifications">
             <button>View All</button>
            </a>
               
            </div>
            <div class="Settings_Btn">
                <button>Settings</button>
            </div>
        </div>
    </div>